body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#btn {
    background-color: white;
    color: black;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px 50px;
    width: 400px;
    align-self: center;
    margin: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    padding: 25px;
}